<li id="proposed-{{ context_id }}">
    <strong>{{ start|date:"j M Y" }}</strong>
    {{ start|time:"H:i" }} – {{ end|time:"H:i" }}
    <br>
    Space: {{ space_name }}
    <br>
    <em>Moved from {{ old_start|date:"j M Y H:i" }}</em>
    <br>
    <button type="button"
        hx-get="{{ alternatives_base_url }}"
        hx-target="#alternatives-container-{{ context_id }}"
        hx-swap="innerHTML">
        Change this date
    </button>
    <div id="alternatives-container-{{ context_id }}"></div>
</li>